@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600|Nunito+Sans:600");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/655bb80675294eb7beeb5b5f.655bb80775294eb7beeb5b62.PkXUEQ9.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.align-self-flex-start {
  align-self: flex-start;
}

* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff; /* or any color that matches your design */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* subtle shadow for depth */
}

.nav-left a {
  text-decoration: none;
  color: #333333; /* or any color you prefer */
  font-weight: bold;
  font-size: 1.2em;
}

.nav-right img {
  width: 50px; /* Adjust size as needed */
  height: 50px;
  border-radius: 50%; /* Circular avatar */
  cursor: pointer;
}


#homeButton {
  padding: 10px 20px;
  cursor: pointer;
}

#userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

